# Turn on Rewrite Engine
RewriteEngine On

# Force HTTPS and remove WWW
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [OR,NC]
RewriteCond %{HTTPS} off [OR] 
RewriteCond %{HTTP:X-Forwarded-Proto} !https [OR]
RewriteCond %{HTTP:X-Forwarded-SSL} !https

# old /wordpress links should get redirected
Redirect 301 /wordpress /
RewriteRule /wordpress/(.*)$ /$1 [R=301,L]
RewriteRule /category/nachrichten/(.*)$ /tags/$1 [R=301,L]


# redirects to external sites

Redirect 301 /cloud          https://dpsg-radolfzell-cloud.de 
Redirect 301 /rosskur-anmeldung https://dpsg-freiburg.de/service/veranstaltungen/rosskur-2025/
Redirect 301 /rosskur-trailer https://youtu.be/c1hPXJ-CM34
Redirect 301 /karte-wl24 https://umap.openstreetmap.de/de/map/wanderlager-2024_75885
Redirect 301 /imp33sa-clan https://youtu.be/dxWlBO98Duc
Redirect 301 /qr-pfadis https://www.instagram.com/pfadistufe_impeesa
