# Turn on Rewrite Engine
RewriteEngine On

# custom 404 error page
ErrorDocument 404 /404.html

# Force HTTPS and remove WWW
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [OR,NC]
RewriteCond %{HTTPS} off [OR] 
RewriteCond %{HTTP:X-Forwarded-Proto} !https [OR]
RewriteCond %{HTTP:X-Forwarded-SSL} !https

# trailing slashes
RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

# old /wordpress links should get redirected
Redirect 301 /wordpress/ /
Redirect 301 /category/nachrichten/ /tags/
Redirect 301 /tags/woelflinge/ /tags/wölflinge/
Redirect 301 /category/stammestruppvorstellungen/ /tags/vorstellungen/

# redirects to external sites
Redirect 301 /cloud          https://dpsg-radolfzell-cloud.de 
Redirect 301 /rosskur-anmeldung https://dpsg-freiburg.de/service/veranstaltungen/rosskur-2025/
Redirect 301 /rosskur-2025-trailer /rosskur-trailer
Redirect 301 /rosskur-trailer https://youtu.be/c1hPXJ-CM34
Redirect 302 /rosskur-bilder-upload/  https://dpsg-radolfzell-cloud.de/s/AKEA9YdMSkZ4WBp
Redirect 302 /rosskur-stationsvoting https://youtu.be/dQw4w9WgXcQ
Redirect 301 /karte-wl24 https://umap.openstreetmap.de/de/map/wanderlager-2024_75885
Redirect 301 /imp33sa-clan https://youtu.be/dxWlBO98Duc
Redirect 301 /qr-pfadis https://www.instagram.com/pfadistufe_impeesa
Redirect 301 /rossqr https://www.instagram.com/rover_impeesa
Redirect 301 /nicht-aufgeben https://youtu.be/dQw4w9WgXcQ
