<form action="https://formsubmit.co/07b1aacedec351edaf9069a0769ed86b" method="POST">
    <label for="name">Name:</label><input type="text" name="name" placeholder="Max Musterpfadi" required> 
    <label for="email">E-Mail:</label><input type="email" name="email" placeholder="name@domain.tld" required>
    <textarea name="message" placeholder="Deine Nachricht"></textarea>

    <input type="hidden" name="_subject" value="Neue Fördermitglied Anfrage">
    <input type="hidden" name="_next" value="https://dpsg-radolfzell.de/kontakt/#unterstützung">
    <input type="text" name="_honey" style="display:none">

    <br><button type="submit">Absenden</button>
</form>
