<form action="https://formsubmit.co/4a3e2a6b2fc06831abf07703fe304396" method="POST">
    
    <label for="name">Name *</label><input type="text" name="name" placeholder="Max Musterpfadi" required> 

    <div class="row">
        <div class="column">
            <label for="email">E-Mail *</label><input type="email" name="email" placeholder="name@domain.tld" required>
        </div>
        <div class="column">
            <label for="phone">Telefon</label><input type="tel" name="phone" placeholder="0773232168">
        </div>
    </div>
    <br> 
    <div class = "address">
        <label for="adr">Straße + Hausnummer</label><input type="text" id="adr" name="address" placeholder="Laurentiusstr. 9"> 
        <div class="row">
          <div class="column">
                <label for="plz">PLZ</label><input type="text" id="plz" name="zip" placeholder="78315">
            </div>
            <div class="column">
                 <label for="city">Stadt</label><input type="text" id="city" name="city" placeholder="Radolfzell">
            </div>    
        </div>
    </div>
    
    <label for="message">Nachricht *</label>
    <textarea id="message" name="message" placeholder="Deine Nachricht" required></textarea>

    <input type="hidden" name="_subject" value="Neue Fördermitglied Anfrage">
    <input type="hidden" name="_next" value="https://dpsg-radolfzell.de/kontakt/#unterstützung">
    <input type="hidden" name="_template" value="table">
    <input type="text" name="_honey" style="display:none">

    <input type="checkbox" name="terms" required>
    <label for="terms">Ich akzeptiere die <a href="https://formsubmit.co/privacy.pdf">Nutzungsbedingungen von formsubmit.co</a> *</label>
    <br>
    <input type="submit" value="Absenden"></input>
</form>

{{ $style := resources.Get "css/contact-form.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
