

{{ $icalScript := resources.Get "js/kalender/ical.es5.min.js" | minify | fingerprint -}}
<script src="{{ $icalScript.RelPermalink }}" {{ printf "integrity=%q" $icalScript.Data.Integrity | safeHTMLAttr }} type="text/javascript"></script>

{{ $parserScript := resources.Get "js/kalender/calendar-parser.js" | minify | fingerprint -}}
<script src="{{ $parserScript.RelPermalink }}" {{ printf "integrity=%q" $parserScript.Data.Integrity | safeHTMLAttr }} type="text/javascript"></script>


{{ $config := resources.Get "js/kalender/calendar-config.json" | minify | fingerprint -}}

<script>
// Start the calendar processing when the page loads
document.addEventListener('DOMContentLoaded', () => {
  // Initialize with default config file path
  initCalendar("{{ $config.RelPermalink }}");
});
</script>

<style type='text/css'>
  .calendar-event {
      margin-left: 1rem;
      margin-bottom: 1rem;
      text-indent: 0.2rem;
    }

  p.event-time,
  p.event-source,
  p.event-description-line {
    margin: 0;
  }

  .event-description {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-left: 0.5rem;
    color: var(--highlight-color);
  }

  h3.event-title {
    margin-block-end: 0;
  }
</style>

<div id='calendar-container'></div>

