{{ $icalScript := resources.Get "js/kalender/ical.es5.min.js" | fingerprint -}}
<script src="{{ $icalScript.RelPermalink }}" {{ printf "integrity=%q" $icalScript.Data.Integrity | safeHTMLAttr }} type="text/javascript"></script>

{{ $markdownScript := resources.Get "js/kalender/marked.min.js" | fingerprint -}}
<script src="{{ $markdownScript.RelPermalink }}" {{ printf "integrity=%q" $markdownScript.Data.Integrity | safeHTMLAttr }} type="text/javascript"></script>

{{ $parserScript := resources.Get "js/kalender/calendar-parser.js" | minify | fingerprint -}}
<script src="{{ $parserScript.RelPermalink }}" {{ printf "integrity=%q" $parserScript.Data.Integrity | safeHTMLAttr }} type="text/javascript"></script>

{{ $config := resources.Get "js/kalender/calendar-config.json" | minify | fingerprint -}}
{{ $data := resources.Get "js/kalender/calendar-config.json" | transform.Unmarshal -}}

<script>
// Start the calendar processing when the page loads
document.addEventListener('DOMContentLoaded', () => {
  // Initialize with default config file path
  initCalendar("{{ $config.RelPermalink }}");
});
</script>

<style type='text/css'>
  .calendar-event {
      margin-left: 1rem;
      margin-bottom: 1rem;
      text-indent: 0.2rem;
    }

  p.event-time,
  p.event-source,
  p.event-description-line {
    margin: 0;
  }

  .event-description {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-left: 0.5rem;
    color: var(--highlight-color);
  }

  h3.event-title {
    margin-block-end: 0;
  }

  .calendar-toggle-label {
    margin-right: 0.5rem;
  }

  @media screen and (max-width: 500px) {
    .calendar-toggle-label:nth-of-type(3)::after{
      content: "\a";
      white-space: pre;
    }
  }

  {{ range $data.feeds }}
  input.{{ .name }}[type="checkbox"]:not(:checked) ~ .calendar-event.{{ .name }}  {
    display: none;
  }
  {{ end }}

</style>


<div id='calendar-container'>
  {{ range $data.feeds }}
  <input type="checkbox" class="calendar-toggle {{ .name }}" id="{{ .name }}-toggle" name="{{ .name }}" value="{{ .mame}}" style="accent-color: {{ .color }};" {{ if .checked }}checked{{ end }}>
  <label class="calendar-toggle-label {{ .name }}" for="{{ .name }}-toggle" style="color: {{ .color }};">{{ .name }}</label>
  {{ end }}
  <br>
</div>


<script>
 function copyLink(event) {
  event.preventDefault();
  link = event.target.getAttribute('href');
  alt = event.target.getAttribute('alt');
  navigator.clipboard.writeText(link).then(() => {
    alert( alt + " kopiert!\n\n" + link);
  }, () => {
    console.log("Link Kopieren fehlgeschlagen!");
  });
}
</script>
<div id='calendar-subscribe'>
  Um die einzelnen Kalender zu abonnieren, können die folgenden Links verwendet werden:
  <br>
  {{ range $data.feeds }}
  <a
    href="{{ .url | absURL }}" 
    onclick="copyLink(event)" 
    style="color : {{ .color }};" 
    alt="Link zum Abonnieren des {{ .name }}-Kalenders"
    target="_blank"
  >
    {{ .name }}
  </a>
  {{ end }}
</div>
