
<script src='/js/fullcalendar/dist/index.global.min.js'></script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        
      locale : 'de',

      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'listYear,dayGridMonth'
      },

      // customize the button names,
      // otherwise they'd all just say "list"
      views: {
        listYear: { buttonText: 'Liste' },
        dayGridMonth: { buttonText: 'Monat' },
        // timeGridWeek: { buttonText: 'Woche' }
      },

      initialView: 'dayGridMonth',
      //initialDate: '2023-01-12',
      navLinks: true, // can click day/week names to navigate views
      dayMaxEvents: true, // allow "more" link when too many events
      dayMaxEventRows : true, // allow "more" link when too many events
      selectable : true, // allow selecting events
      selectMirror : true, // show selection on mirror
      nowIndicator : true, // show current time

      // show description in title text 
      eventDidMount: function(info) {
        if (info.event.extendedProps.description) {
          info.el.setAttribute('title', info.event.extendedProps.description);
        }
      },

      // go to url on click
      eventClick: function(info) {
        if (info.event.url) {
          window.open(info.event.url);
        }
      },



      eventSources: [
        
        {{ range os.ReadDir "/assets/events" }}
          {{ .Name | printf "/assets/events/%s" | readFile | safeJS }},
        {{ end }}
      ]

    });

    calendar.render();
  });

</script>



<style type='text/css'>

	#calendar {
    z-index: 0;
		width: 100%;
    max-width: 900px;
    height: 70vh;
    max-height: 1000px;
		margin: 0 auto;
		}
  

 

</style>

<div id='calendar'></div>

