
<script src='/js/fullcalendar/dist/index.global.min.js'></script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        
      locale : 'de',

      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'listYear,dayGridMonth,dayGridWeek'
      },

      // customize the button names,
      // otherwise they'd all just say "list"
      views: {
        listYear: { buttonText: 'liste' },
        listdayGridMonth: { buttonText: 'Monat' },
        dayGridWeek: { buttonText: 'Woche' }
      },

      initialView: 'dayGridMonth',
      //initialDate: '2023-01-12',
      navLinks: true, // can click day/week names to navigate views
      dayMaxEvents: true, // allow "more" link when too many events

      eventSources: [
        
        {{ range os.ReadDir "/assets/events" }}
          {{ .Name | printf "/assets/events/%s" | readFile | safeJS }},
        {{ end }}
      ]

    });

    calendar.render();
  });

</script>
<style>


</style>

<div id='calendar'></div>

