{{- $lat := .Get "lat" | default (.Get 0) | default 47.74304 | float -}}
{{- $lon := .Get "lon" | default (.Get 1) | default 9.00725 | float -}}
{{- $zoom := .Get "zoom" | default (.Get 2) | default 14 | int -}}
{{ $width := .Get "width" | default (.Get 3) | default 600 }}
{{ $height := .Get "height" | default (.Get 4) | default 450 }}
{{- $highlightColor := .Site.Params.style.vars.highlightColor | default (.Site.Params.highlightColor | default "#e22d30") -}}
{{- $accentColor := .Site.Params.style.vars.accentColor | default (.Site.Params.accentColor | default "#810a1a") -}}

{{ $mapStyle := .Get "mapStyle" | default "map/style-colorful.json" }}

{{ $style := resources.Get "css/maplibre-gl.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>

{{ $script := resources.Get "js/maplibre-gl.js" | minify | fingerprint -}}
<script src="{{ $script.RelPermalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} type="text/javascript"></script>


<div id ="karte">
    <noscript style="color: var(--inverted-primary-color);">
       wir würden hier gerne eine Karte einbinden. Um diese anzeigen zu können, musst du Javascript aktivieren.
    </noscript>
</div>

<style>
  #karte {
      border: 3px solid {{$highlightColor}};
      border: 0.2rem solid {{$highlightColor}};
      border-radius: 5px;
      border-radius: 0.3rem;
      width: {{$width}}px;
      max-width: 100%;
      height: {{$height | add 6 }}px;
  }
</style>



<script>
    const map = new maplibregl.Map({
        container: 'karte',
        style: {{ with resources.Get $mapStyle }} {{ .Content | safeJS }} {{ end }},
        center: [{{$lon}}, {{$lat}}],
        zoom: {{$zoom}}
    });

    // place marker
    const marker = new maplibregl.Marker()
        .setLngLat([{{$lon}}, {{$lat}}])
        .addTo(map);

    // add toggle to view the map in fullscreen
    map.addControl(new maplibregl.FullscreenControl());
    // Add zoom and rotation controls to the map.
    map.addControl(new maplibregl.NavigationControl({
        visualizePitch: true,
        visualizeRoll: true,
        showZoom: true,
        showCompass: true
    }));
</script>
