{{- if .Site.Params.selfHosted -}}
    <link rel="stylesheet" href="/css/leaflet.css" />
    <script src="/js/leaflet.js"></script>
{{- else -}}
    <link rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""
    />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin="">
    </script>
{{- end -}}


<div id = "map" ></div>
<script>
    var map = L.map('map').setView([47.74304, 9.00725], 17);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker = L.marker([47.74304, 9.00725]).addTo(map);

</script>
<style>
    #map {
        width: 80%;
        height: 600px;
        border: 3px solid grey;
        z-index: 0;
    }
</style>

