{{ $config := resources.Get "kalender/config.json" | transform.Unmarshal -}}
{{ $data := slice }}

{{ with $config.calendars }}
	{{ range . }}
		{{ $new_data := resources.Get .data | transform.Unmarshal -}}
		{{ $calendar := .name }}
		{{ $color := .color }}
{{ with $new_data }}
  {{ range . | after 1 }}
    {{ $end := (index . 4) | time.AsTime }}
{{ if $end.After now }}
    {{ $data = $data | append (dict
    "calendar" $calendar
    "color" $color
    "title" (index . 1)
    "start" (index . 2 | time.AsTime )
    "end" $end
    "location" (index . 5)
    "description" (index . 6)
      )
    }}
  {{ end }}
  {{ end }}
{{ end }}

	{{end}}
{{ end }}

{{ $data = sort $data "start" }}

{{ with $data }}
  {{ range . }}
    {{ .title }} {{ .start }} {{ .calendar }}
	<br>
  {{ end }}
{{ end }}

