{{/*  <div>
  <div style="position:relative;padding-top:56.25%;">
    <iframe src="https://www.youtube-nocookie.com/embed/JpoW8cgA60w?mute=1&amp;autoplay=1&amp;rel=0&amp;loop=1" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
  </div>
</div>  */}}

<div style="position:relative">
  <video width=100% autoplay="true">
    <source src="/videos/Die Zeit deines Lebens-1080p.webm" type="video/webm">
    Your browser does not support the video tag.  
  </video>
</div>

<style>
    /*
      Rollover Image
     */
    .figure {
        position: relative;
        max-width: 70%;
    }
    .figure img.image-hover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: contain;
      opacity: 0;
      transition: opacity .2s;
    }
    .figure:hover img.image-hover {
      opacity: 1;
    }
    .post img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 1px 0px #ccd6dd00;
    }

    .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    }

</style>
<div class="center-button">
<div class="figure">
<div class="button"><a href="mailto:vorstand@dpsg-radolfzell.de">
<img class="image-main" src="/img/leiter_werden.webp" alt="jetzt leiter werden">
  <img class="image-hover" src="/img/leiter_werden_hover.webp" alt="jetzt leiter werden - hover">
</a></div></div>
</div>