<div style="position:relative">
  <a href="https://www.youtube.com/watch?v=JpoW8cgA60w" alt="Youtube Video - Die Zeit deines Lebens" target="_blank">
    <video width=100% autoplay muted>
      <source src="/videos/Die Zeit deines Lebens-1080p.webm" type="video/webm">
      Your browser does not support the video tag.  
    </video>
  </a>
</div>

<style>
    .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    }



    .button a {
    font-size: 3rem;
    color: white;
    background: var(--highlight-color);
    padding: 0.7rem 1.5rem 0.9rem 1.5rem;
    border-radius: 2.2rem;
    font-weight: 900;
    }

    @media screen and (max-width: 1000px) {
       .button a {
	font-size: 5vw;
	}
    }
    .button a:hover {
    color: white;
    background: var(--accent-color);
    }

</style>

<div class="center-button">
  <div class="button">
    <a href="/kontakt/" alt="Kontakt Seite">
      Jetzt Leiter werden!
    </a>
  </div>
</div>
